<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="WebApplication1" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>

  <connectionStrings>
    <!--======Home sql server 2022========-->
    <!--<add name="adoConnectionstring" connectionString="data source=desktop-mfkar20\sqlexpress01; database= ONLINE_DATABASE_SYSTEM; integrated security=true" />-->
    <!--======Home sql server 2022========-->
    <!--<add name="adoConnectionstring" connectionString="data source=desktop-mfkar20\sqlexpress; database= ONLINE_DATABASE_SYSTEM; integrated security=true" />
  <add name="ONLINE_DATABASE_SYSTEMConnectionString" connectionString="Data Source=desktop-mfkar20\sqlexpress;Initial Catalog=ONLINE_DATABASE_SYSTEM;Integrated Security=True"
   providerName="System.Data.SqlClient" />-->
    <!--======sql server 2022========-->
    <!--<add name="adoConnectionstring" connectionString="data source=CTO-CRIS\SQLEXPRESS; database= ONLINE_DATABASE_SYSTEM; integrated security=true" />-->
    <!--======sql server 2016========-->
    <add name="adoConnectionstring" connectionString="data source=CTO-CRIS\SQLEXPRESS02; database= ONLINE_DATABASE_SYSTEM; integrated security=true" />
    <add name="ONLINE_DATABASE_SYSTEMConnectionString" connectionString="Data Source=CTO-CRIS\SQLEXPRESS02;Initial Catalog=ONLINE_DATABASE_SYSTEM;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--======ONLINE sql.bsite.net========-->
    <!--<add name="adoConnectionstring" connectionString="server=sql.bsite.net\MSSQL2016; database= chrisdalonos_; User Id=chrisdalonos_; password=jdlinang.123" />
    <add name="ONLINE_DATABASE_SYSTEMConnectionString" connectionString="server=sql.bsite.net\MSSQL2016; database= chrisdalonos_; User Id=chrisdalonos_; password=jdlinang.123; TrustServerCertificate=true"
   providerName="System.Data.SqlClient" />-->
    <!--<add name="adoConnectionstring" connectionString="workstation id=ONLINE_DATABASE_SYSTEM.mssql.somee.com;packet size=4096;user id=chrisdalonos_SQLLogin_1;pwd=x1rm2tbvu8;data source=ONLINE_DATABASE_SYSTEM.mssql.somee.com;persist security info=False;initial catalog=ONLINE_DATABASE_SYSTEM" />-->
  </connectionStrings>
  
  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
